<!-- App root element -->
<template>
    <div id="app">

        <!-- side menu -->
        <div class="panel panel-left panel-cover panel-resizable panel-init">
            <div class="sidebar-nav__header">
                <h3>왼쪽 메뉴 (사이트 링크)</h3>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="/" class="link ripple-color-white"><span class="material-icons">home</span><span>Home</span></a></li>
                    {{#if isLogin}}
                    {{else}}
                    <li><a href="/login/" class="link ripple-color-white"><span class="material-icons">person</span><span>Login</span></a></li>
                    <li><a href="/signup/" class="link ripple-color-white"><span class="material-icons">person</span><span>signup</span></a></li>
                    {{/if}}

                    <li><a href="/expand/" class="link ripple-color-white"><span class="material-icons">view_comfy</span><span>expand</span></a></li>
                    <li><a href="#" class="link ripple-color-white back">Go back</a></li>
                </ul>
            </nav>
        </div>

        <!-- user info -->
        <div class="panel panel-right panel-right-1 panel-cover panel-resizable panel-init">
            <div class="block">
                <p>Right Panel content here</p>
                {{#if isLogin}}
                사용자 프로파일
                {{else}}
                로그인이 필요합니다 !!
                {{/if}}
            </div>
        </div>

        <div class="panel panel-right panel-right-2 panel-cover panel-init theme-dark">
            <div class="page">
                <div class="block">
                    <p>Here comes another 3rd panel.</p>
                    <p><a class="panel-close" href="#">Close me</a></p>
                </div>
            </div>
        </div>

        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">

        </div>

        <div class="popup popup-about">
            <div class="block">
                <p>About</p>
                <!-- Close Popup -->
                <p><a class="link popup-close" href="#">Close popup</a></p>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
        </div>
    </div>
</template>
<script>
    return {
        data: function () {
            return {
                isLogin: false,
            }
        },
        methods: {
            login() {
                this.$setState({ isLogin: true });
            },
            logout() {
                this.$setState({ isLogin: false });
            },
        },
        on: {
            pageInit: function () {
                if (sessionStorage.getItem('isLogin') === 'true') {
                    this.login();
                }
            }
        }
    }
</script>