<!-- App root element -->
<template>
    <div id="app">

        <!-- side menu -->
        <div class="panel panel-left panel-reveal panel-init panel-resizable">
        <!-- <div class="panel panel-left panel-cover panel-init panel-resizable"> -->
            <div class="sidebar-nav__header">
                <h3><i class="icon-icon-logo-1"></i></h3>
            </div>
            <nav class="list links-list">
                <ul>
                    <li><a href="/" class="link ripple-color-white"><span>Home</span></a></li>
                    {{#if isLogin}}
                    {{else}}
                    <li><a href="/login/" class="link ripple-color-white"><span>Login</span></a></li>
                    <li><a href="/signup/" class="link ripple-color-white"><span>signup</span></a></li>
                    {{/if}}
                    <li><a href="#" class="link ripple-color-white"><span>이용 지점</span></a></li>
                    <li><a href="#" class="link ripple-color-white"><span>자리 문의</span></a></li>
                    <li><a href="#" class="link ripple-color-white"><span>결제</span></a></li>
                    <li><a href="#" class="link ripple-color-white"><span>무인매점 결제</span></a></li>
                    <li><a href="#" class="link ripple-color-white"><span>Q&A</span></a></li>
                    <li><a href="#" class="link ripple-color-white back">Go back</a></li>
                </ul>
            </nav>
        </div>

        <!-- user info -->
        <div class="panel panel-right panel-right-1 panel-cover panel-init no-padding">
            <div class="block top-infor">
                <div class="list padding top-bar no-hairlines no-hairlines-between">
                    <div class="item-inner">
                        <a href="/alert/" class="panel-close">
                            <i class="icon-bell_fill"></i>
                        </a>
                        <a href="#" class="item-item panel-close">
                            <i class="icon-multiply_square_fill"></i>
                        </a>
                    </div>
                </div>                
                <div class="list padding no-hairlines no-hairlines-between">
                    <div class="item-content infor-box">
                        <div class="item-media"><i class="icon-person_crop_circle"></i></div>
                        <div class="item-inner">
                            <div class="item-title">아무개 </div>                            
                        </div>
                    </div>                    
                </div>
                <div class="infor-list padding no-hairlines no-hairlines-between">
                    <ul>
                      <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"><i class="icon-map_fill"></i>지점</div>
                                <div class="item-after">컨센터블24시독서실1호점(주엽역)</div>
                            </div>
                        </div>
                      </li>
                      <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"><i class="icon-creditcard"></i>이용권</div>
                                <div class="item-after">라이트멤버십(매월12일결제)</div>
                            </div>
                        </div>
                      </li>
                      <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"><i class="icon-calendar"></i>남은기간</div>
                                <div class="item-after">~ 2020. 5. 12 23:59:59</div>
                            </div>
                        </div>
                      </li>
                      <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"><i class="icon-clock"></i>남은시간</div>
                                <div class="item-after">23:59:59</div>
                            </div>
                        </div>
                      </li>
                      <li>
                        <div class="item-content infor-btn">
                            <div class="item-inner">
                                <div class="item-title"><i class="icon-square_list"></i>사물함</div>
                                <div class="item-after">
                                    1263, 1264, 11, 112
                                    <button type="button"
                                            class="button button-fill float-right display-inline-block js-lockeredit"
                                            @click="lockerEdit">
                                        <span>수정</span></button>
                                </div>
                            </div>                            
                        </div>
                      </li>
                    </ul>
                </div>
                <div class="padding">
                    <button type="button" class="col button button-fill button-large button-outline" >결제하기</button>
                </div>                
                <!-- <p>Right Panel content here</p>
                {{#if isLogin}}
                사용자 프로파일
                {{else}}
                로그인이 필요합니다 !!
                {{/if}} -->
            </div>
            <!--  -->
            <div class="block padding">
                <div class="list links-list no-padding-top">
                    <ul>
                      <li><a href="/zonepresent/" class="panel-close">전 지점 실시간 이용현황</a></li>
                      <li><a href="/mypage/mypage/" class="panel-close">마이페이지</a></li>
                      <li><a href="/mypage/enquiry/" class="panel-close">1:1문의</a></li>
                      <li><a href="/notify/" class="panel-close">공지사항</a></li>
                    </ul>
                  </div>
            </div>
        </div>

        <div class="panel panel-right panel-right-2 panel-cover panel-init theme-dark">
            <div class="page">
                <div class="block">
                    
                </div>
            </div>
        </div>

        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">

        </div>
    </div>
</template>
<script>
    return {
        data: function () {
            return {
                isLogin: false,
            }
        },
        methods: {
            //라이트메뉴/사물함/수정
            lockerEdit() {
                const _self = this;

                app.dialog.prompt('사물함 번호를 변경하시겟습니까?','사물함 번호 변경', function (name) {

                    //중간에 사욜할수 있는 번호인지 체크하는 함수를 넣는다.

                    //사용할수 있는 번호일경우
                    app.dialog.confirm('정말 다음번호로 변경하시겠습니까?<br> ' + name,'', function () {
                        app.dialog.alert('다음 사물함 번호로 바뀌었습니다.', name);
                    });
                });
            },
            login() {
                this.$setState({ isLogin: true });
            },
            logout() {
                this.$setState({ isLogin: false });
            },
        },
        on: {
            pageInit: function () {
                if (sessionStorage.getItem('isLogin') === 'true') {
                    this.login();
                }
            }
        }
    }

    var icons = document.querySelectorAll('.content .f7-icons');
    function showPreview(e) {
        var icon = e.target.textContent;
        var previewIcons = document.querySelectorAll('.icon-preview .f7-icons');
        for (var j = 0; j < previewIcons.length; j++) {
            previewIcons[j].textContent = icon;
        }
        document.querySelector('.icon-preview').style.display = 'block';
        document.querySelector('.icon-preview-name b').textContent = icon;        
    }
    for (var i = 0; i < icons.length; i++) {
      icons[i].addEventListener('click', showPreview);
    }
</script>