/** common */
a {
  text-decoration: none;
  cursor: pointer;
}

img { vertical-align: top}

strong {
  font-weight:700;
}

ol, ul {
  list-style: none;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.clear {
  clear: both;
}

.display-inline-block,
.iB, .inline-block {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.DH4 {height: 4px}
.DH10 {height: 10px}
.DH50 {height: 50px}
.DH100 {height: 100px}
.W40 { width: 40px }
.W80 { width: 80px }

.small {
  font-size: 12px;
}

.v-box {
  position: relative;
  top:50%;
  transform: translateY(-50%);
  display: inline-block;
}

.pre-box {
  white-space: pre-line;
}

.circle-radius {
  border-radius: 50%;
  overflow: hidden;
}
.row > .btn {
  flex-grow: 0;
}
.btn {
  display: inline-block;
  width: auto;
  border: 0;
  background: transparent;
}

.pagination {
  text-align: center;
  .btn-page .f7-icons {
    font-size: 12px;
  }

  .btn {
    border: 0;
    border-radius: 30px!important;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 0 3px;
    padding: 0;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
    text-align: center;
    cursor: pointer;

    &.on {
      color: #fff;
      background-color: #4caf50;
      border-color: #4caf50;
      -webkit-box-shadow: 0 4px 5px 0 rgba(76,175,80,.14), 0 1px 10px 0 rgba(76,175,80,.12), 0 2px 4px -1px rgba(76,175,80,.2);
      box-shadow: 0 4px 5px 0 rgba(76,175,80,.14), 0 1px 10px 0 rgba(76,175,80,.12), 0 2px 4px -1px rgba(76,175,80,.2);
    }
  }
}

.sort-box {
  align-items: center;
  padding: 10px;

  &-content {
    position: relative;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #fff;

    &:before {
      position: absolute;
      right: 10px; top: 18px;
      display: block;
      content: ' ';
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 6px solid #aaa;
    }
  }
}