/** common **/
//:root {
  //--f7-font-size: 12px;
//}
/** root color **/
:root {
  --f7-button-fill-bg-color: #059b5c;
  --f7-button-fill-pressed-bg-color: #059b5c;
  --f7-bars-bg-color: #059b5c;
  --f7-theme-color: #059b5c;
}

/** icon */
.material-icons { vertical-align: middle}

/** SWIPE SLIDER **/
.swiper {
  &-container {
    clear:both;
    width:100%;
    height:100%;
    padding:0;
    background-color:#000;
  }

  &-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.icon,
.f7-icons {
  vertical-align: middle;
}

label span {
  display: inline-block;
  vertical-align: middle;
}

// Typography
.size-14 { font-size: 14px }
.size-22 { font-size: 22px }
.size-25 { font-size: 25px }
.size-29 { font-size: 29px }
.size-50 { font-size: 50px }
.color-red { color: #ff0000 }

.list .item-title {
  white-space: normal;
}

label.item-checkbox>.icon-checkbox {
  margin-right: 8px;
}

// select
.select-box {
  position: relative;
  border:1px solid #ddd;
  border-radius: 4px;
  padding-left: 4px !important;
  background: transparent;
}

//navbar 
.navbar {z-index: 10 !important; color: #fff; 
  .navbar-bg {background-color: #059b5c;}
  .navbar-bg::after {display:none;}
  .navbar-bg::before {display:none;}
  a.link { color: #fff;}
}

//button
.button-circle {
  height: auto;
  padding: 0;
  border-radius: 50%;

  &:after { /* after로 반응형 정사각형 만들기 */
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  & > span {
    position: absolute;
    left: 0; top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 200%;
  }
}

//picker
.picker-center-highlight {border-top: 1px solid #a7a7a7; border-bottom: 1px solid #a7a7a7;}

.picker-item span.nop {
  color: red;
  text-decoration: line-through;
}

//약관 박스
.terms_box{
  position: relative;
  overflow: auto;
  width: 90%;
  margin: 0px auto;
  padding:6px 12px;
  background-color: #f0f0f0;
  border: 1px solid #dadada;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 1.2;
  color: #8f8f8f;
  white-space: pre-line;
  scrollbar-base-color: #d9d9d9;
  scrollbar-arrow-color: #8e8e8e;
  scrollbar-3dlight-color: #d9d9d9;
  scrollbar-darkshadow-color: #d9d9d9;
  scrollbar-face-color: #d9d9d9;
  scrollbar-highlight-color: #d9d9d9;
  scrollbar-shadow-color: #d9d9d9;
  scrollbar-track-color: #f2f2f2;
  -webkit-overflow-scrolling: touch;
}