/** home */
.home {
  //background: transparent linear-gradient(180deg, #059b5c 0%, #173228 100%) 0% 0% no-repeat padding-box;
  //background: transparent -moz-linear-gradient(-90deg, #059b5c 0%, #173228 100%) 0% 0% no-repeat padding-box;
  //background: transparent -webkit-linear-gradient(-90deg, #059b5c 0%, #173228 100%) 0% 0% no-repeat padding-box;
  background-color: #fff;

  .page-content {
    padding-bottom: 48px;
  }

  &-top { background-color: #fff;
    .logo {
      padding: 4.5vh 0 3vh; margin-left: 3vh; color: #085837; font-size: 8vh; border-bottom: 2px solid #085837;
    }
  }

  &-user {
    padding: 3vh 30px 2vh; background-color: #fff;
    
    p {margin: 0; padding-bottom: 12px; font-size: 16px;}
    .name-txt {font-size: 3.3vh; font-weight: bold; border: none; padding-bottom: 6px;
      strong {color: #059b5c;}
    }
    .list {font-size: 14px;      
      .item-content {min-height: 30px; border-top: 1px solid #959595;}
      .item-media {padding: 0; width: 58px;
        i {margin-right: 5px; padding-top: 2px;}
      }
      .item-inner {padding: 0; min-height: 30px; color: #959595;}
    }
    .row {
      padding-bottom: 3vh;
    }
    .button {background-color: #245d3c; border-color: #245d3c;}
    .infor-icon {font-size: 110px; line-height: 0; color: #d6d6d6;}
    .infor-txt { font-weight: bold;
      .title { color: #000; margin: 0; padding-bottom: 0.2em;}
      P {color: #085837; margin: 0 0 0.9em; font-size: 13px;}
    }       
  }

  .seatinfo {
    &-name {
      padding-right: 10px;
      font-size: 14px;

      b {
        font-size: 24px;
      }
    }
  }

  .countdown {
    border-radius: 15px;
    border: 1px dashed #ddd;
    padding:14px;
    text-align: center;
    background-color: #f2f2f2;

    h2 {
      margin:0;
      font-size:32px;

      small {
        font-size: 18px;
        color: #777
      }
    }
  }

  &-msg {
    font-size: 16px;
    color: red;
  }

  .btn-box {
    .actions-open {
      display: flex;
      align-items: center;
      height: 8vh;
      font-size: 2.5vh;

      i {margin-right: 6px; font-size: 3.3vh;}
    }
  }

  .js-pay {
    height: 60px;
    padding: 8px 0;
    font-size: 2.608vh;
    font-weight: bolder;
    background: #059b5c;

    i {font-size: 3.6vh; margin-right: 8px;}
  } 

  &-bottom {
    display: flex;
    justify-content: center;

    padding: .5vh 0;
    text-align: center;

    .home-btn,
    a {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 43vw;
      height: 20vh;
      margin: 0 2.5vw;
      border-radius: 12px;
      font-size: 2.2134vh;
      font-weight: bold;
      border: 5px solid #059b5c;
      color: #059b5c;
      background-color: #fff;

      i {
        display: block;
        margin-bottom: 2vh;
        font-size: 9vh;
        color: #059b5c;
      }

      &:active {
        padding: 4px 0 0 4px;
        background-color: #eee;
      }
    }

    .home-btn {
      border-color: #0c7ddf;
      color: #0c7ddf;
      i {
        color: #0c7ddf;
      }
    }
  }
}
.actions-backdrop { background: rgba(0,0,0,0.6);}
.actions-modal.modal-in {opacity: 1;}
.actions-modal {bottom:17%; opacity: 0; width: auto; left: 22%; right: 22%;
  .block {padding: 0 23%;}
  .actions {width: auto;}
  .actions-button {margin: 0 0 30px; border-radius:200px; width: 200px; height: 200px; background-color: #25dc61;
    a { width: 100%; color: #fff; font-weight: bold; font-size: 26px; line-height: 200px; text-align: center;}
    i {margin-right: 10px; font-size: 34px;}
  }   
}

/** //home */
