.member {
    //약관
    .page-content {background-color: #f5f6f7;}
    .list {margin-top: 20px;
        ul {border: 1px solid #dadada;}
        .item-title {font-size:14px;}
        .item-content {min-height: 24px;}
    }
    .icon-checkbox {border-radius:60%;}
    .icon-checkbox::after {font-size: 12px;}
    label.item-checkbox input[type="checkbox"]:checked ~ .icon-checkbox, label.item-checkbox input[type="checkbox"]:indeterminate ~ .icon-checkbox {
        border-color: #397e43; 
        background-color: #397e43;
     }
    .color-white {border-color: #397e43; color:#397e43;}

    //회원가입    
    .item-inner {padding-top: 0px;}
    //.item-floating-label {transform: scale(1) translateY(50%) !important;}
    .item-input-invalid .item-inner {padding-bottom: 5px;}
    .list .item-floating-label {color:#7a7a7a !important;}   
    .md .item-input-with-error-message {padding-bottom: 10px;}    
    .smart-select-init  .item-title {font-size: var(--f7-input-font-size);}
    .smart-select-init .item-inner {border-bottom: 1px solid #dadada; margin-bottom: var(--f7-list-item-padding-vertical);}
    .tel-box {padding-right:calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left)); padding-bottom: var(--f7-list-item-padding-vertical) ;}
    .tel-box .width-auto {height: var(--f7-input-height);}
    .tel-box .item-inner {padding-top: var(--f7-list-item-padding-vertical);}

    .map { overflow: hidden;
        img {max-width: 100%;}
    } 
}

#finduser-form {
    .swiper-container {background-color: #f5f6f7 !important;}
    .list {margin-top: 15px;}
    .tabbar {
        margin-left: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-left)); margin-right: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-right));
        width: auto;
    }
    .toolbar-inner {padding: 0px;}
    .tabbar .tab-link {font-size:16px; font-weight: bold; border: 2px solid #397e43; color: #397e43;}
    .tabbar .tab-link-active { background-color: #397e43; color: #fff;}
    .color-green {font-size: 20px; font-weight: bold;}    
}

#high3-step3-form {
    .card {margin: 0px; margin-top: var(--f7-card-margin-vertical); margin-bottom: var(--f7-card-margin-vertical);}
    .card-header {font-size: var(--f7-card-font-size); border-bottom: 1px solid #d6d7d8}
    textarea {width: 100%; min-height: 60px;}    
    .long { height: 120px;}
}

#high3-step4-form {
    .card {margin: 0px; margin-top: var(--f7-card-margin-vertical); margin-bottom: var(--f7-card-margin-vertical); font-size: 14px;}
    .card-header { border-bottom: 1px solid #d6d7d8; font-size: 14px;}
    label.item-checkbox > .icon-checkbox {margin-right: 10px;}
}