.payment {
  $height-snack-barcoderead: 150px;
  .snack {
    &-list {
      //브라우저높이(100vh) - 바코드리더기 높이 - navbar 높이
      height: calc(100vh - #{$height-snack-barcoderead} - #{$sub-header-height} - 20px);

      .list {
        //카드블럭 전체높이(100%) - 카드해더높이 - 카드풋터높이
        height: calc(100% - 44px - 74px);
        overflow: hidden;
        overflow-y: auto;
      }
    }


    &-submit {

      $width-title: 50px;
      $width-btn: 140px;
      .title {
        width: $width-title;
      }
      .total {
        box-sizing: border-box;
        width: calc(100% - #{$width-title} - #{$width-btn});
        padding-right: 10px;
        text-align: right;
        font-size:2em;
        font-weight: bold;
      }
      .button {
        width: $width-btn;
      }
    }

    &-barcoderead {
      height: $height-snack-barcoderead;
    }

    .stepper {
      .item-subtitle {display: block;}
    }
  }

  // payment
  #payment-form {
    .block-title {margin-top: 0; margin-left: 0; margin-right: 0;}
    .tel-box {padding-right:calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left)); padding-bottom: var(--f7-list-item-padding-vertical);
      .width-auto {height: var(--f7-input-height);}
      .item-inner {padding-top: var(--f7-list-item-padding-vertical);}
    }
     
  }

}