.payment {
  $height-snack-barcoderead: 150px; background-color: #fff;
  .snack {
    .block-title {
      font-size: var(--f7-block-title-font-size); font-weight: bold; padding-bottom: 1vh; border-bottom: 1px solid #059b5c; 
      i {color: #059b5c; margin-right: 6px;}
    }

    .list {
      li { border-bottom: 1px solid #b1b1b1;}
      .item-row { padding-bottom: 1vh;}
      
      .snack-number {color: #a4a4a4; font-size: 1.8vh;}
      .snack-btn {width: 55%;
        .stepper-input-wrap {flex-shrink: 1; text-align: center; padding: 0 10px; border-top: 2px solid #059b5c; border-bottom: 2px solid #059b5c;
          span {padding-bottom: 6px;}
      }
    } 

    &-submit {

      $width-title: 50px;
      $width-btn: 140px;
      .title {
        width: $width-title;
      }
      .total {
        box-sizing: border-box;
        width: calc(100% - #{$width-title} - #{$width-btn});
        padding-right: 10px;
        text-align: right;
        font-size:2em;
        font-weight: bold;
      }
      .button {
        width: $width-btn;
      }
    }

    &-barcoderead {
      height: $height-snack-barcoderead;
    }

    .stepper {
      .item-subtitle {display: block;}
    }
  }

  // payment
  #payment-form {
    .block-title {margin: 0; color: #000; font-weight: bold;
      i {margin-right: 6px; color: #059b5c;}
    }
    .list { margin-bottom: 1.5vh;
      p {font-size: 1.7vh; font-weight: normal;}
      .item-content {padding-left: 0;
        .item-inner {padding-right: 0;
          .item-input-wrap::after { border-color: #059b5c;}
        }
      }
    }
    .pay-txt {padding-bottom: 0.6vh; margin-bottom: 1.5vh;  border-bottom: 1px solid #b1b1b1;
      p {font-size: 1.7vh; font-weight: normal;
        strong {display: block; padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px solid #b1b1b1;}
      }

    }
    .tel-box {padding-right:calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left)); padding-bottom: var(--f7-list-item-padding-vertical);
      .width-auto {height: var(--f7-input-height);}
      .item-inner {padding-top: var(--f7-list-item-padding-vertical); margin-right: 10px;}
    }
    .media-list {
      li {margin-bottom: 1vh;}
      .radio {
        border: 1px solid #b1b1b1; padding-left: var(--f7-input-outline-padding-horizontal); padding-right: var(--f7-input-outline-padding-horizontal);
        border-radius: var(--f7-input-outline-border-radius);
        .item-title {font-size:1.6vh; font-weight: normal; color: #777777;
          strong {display: block; font-size: var(--f7-block-title-font-size, inherit); color: #000;}
        }
        .item-inner {padding-left: var(--f7-list-item-padding-vertical);}
        .item-after {font-size:1.6vh; font-weight: normal; text-align: right; color: #059b5c;
          strong {font-size: var(--f7-block-title-font-size, inherit); display:contents;}
        }
        .icon-radio::after {background-color: var(--f7-radio-active-color, var(--f7-theme-color)); color: #fff; border-radius: 100%;}
      }
    }
  }
  .pay-total { margin-top: 1vh;
    .item-title {font-size: 2vh; color: #777777; width: 30%;}
    .item-input-wrap {font-size: 2.6vh; font-weight: bold;}
  }
}
.toolbar-inner a {color: #fff;}
.picker.sheet-modal {background-color: #fff;}