.sub {
    background-color: #ebebeb;
    .item-content {background-color:#fff;}
    .barode-title {background-color: #059b5c; color: #fff; height: 60px;
        .item-media i {font-size: 36px;}
        .item-inner {margin-left: 6px;}
        .item-title {font-size: 18px;}        
    }
    .barcode_img {
        img { max-width: 100%;}
        p { font-size: 14px; margin: 0; color: #059b5c; padding-top: 0px !important;}
    }
}

.alert-msg {
    text-align: left;

    h3 {
        font-size: 16px;

        b {
            color: red
        }
    }
}

.list-style-decimal {
    padding-left: 14px;
    list-style-type: decimal;
}